// Section Colors
// $intro-bg: #FBFFB9;
// $work-bg: #FDD592;
// $projects-bg: #EC7357;
// $contact-bg: #754F44;

// Fonts
$almost-black: #111111;
$blue: #4DBCE9;
$green: #AEE239;

$intro-bg: #fff;
$work-bg: $green;
// $projects-bg: #D1E751;
$projects-bg: $blue;
// $contact-bg: #26ADE4;
$contact-bg: #0B486B;
