// @import "compass/reset";
@import "compass/css3";
@import 'vendor';
@import 'colors';

section {
  padding: 10vh 20px;
  display: block;
  overflow: hidden;
}

#intro {
  background: $intro-bg;
  color: $almost-black;
  h1 {
    font-size: 4em;
    margin: 0.1em 0;
    color: $blue;
  }
  h2 {
    margin: 0.1em 0;
    color: $blue;
  }
  p {
    letter-spacing: 0.1px;
    font-weight: 100;
  }
}

#work {
  background: $work-bg;
  // color: $almost-black;
  color: white;
}

#projects {
  background: $projects-bg;
  color: white;
}

#contact {
  background: $contact-bg;
  color: white;
  a {
    color: $green;
    &:hover { border-color: $green; }
  }
  #email {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
}

.project-list {
  margin: 0 -20px;
  .project {
    margin: 20px;
    width: auto;
    height: 300px;
    background-color: white;
    background-size: cover;
    background-position: 50% 0;
    @include transition-property(background-position);
    @include transition-duration(0.75s);
    position: relative;
    &:hover {
      .project-inner { opacity: 1; }
      &#door2door { background-position: 50% 70%; }
      &#clipshit { background-position: 50% 120%; }
      &#osugdx { background-position: 90% 50%; }
    }
    &#door2door { background-image: url(/images/door2door.png); }
    &#clipshit { background-image: url(/images/clipshit.png); }
    &#osugdx {
      background-image: url(/images/osugdx.png);
      background-position: 20% 50%;
    }
    &#bukkit { background-image: url(/images/bukkit.png); }
    &#chalkdotcom { background-image: url(/images/chalkdotcom.png); }
  }
  .project-inner {
    opacity: 0;
    @include background-image(linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6) 65%, rgba(0,0,0,0.9)));
    color: white;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include transition-property(opacity);
    @include transition-duration(0.75s);
    h1 {
      margin: 0;
    }
    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 15px;
    }
    a {
      color: $blue;
      &:hover { border-bottom-color: $blue; }
    }
  }
}

a {
  color: $almost-black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  border-bottom: 2px solid $almost-black;
}
